
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Test Reports and Artifacts
/allure-results/
/allure-report/
/tta-report/
*.webm
*.png
